html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  position: relative; /* Required for ::before to be positioned correctly */
  font-family: 'La Cerchia', sans-serif;

}

body::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 100vh;
  height: 100vw;
  background-image: url('../assets/images/noisyBg.jpg'); /* ✅ Adjust path if needed */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
  filter: contrast(1.2) brightness(0.6);
}
@font-face {
  font-family: 'Moonscape';
  src: url('../assets/fonts/Moonscape Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'La Cerchia';
  src: url('../assets//fonts/La_Cerchia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}